body {
  background: #FFEDF1;
  background: radial-gradient(circle, rgba(255, 237, 241, 1) 0%, rgba(255, 217, 255, 1) 100%);
}

body {
  font-size: 50px;
  /* Base font size for the document */
}

.playwrite-no{
  font-family: "Playwrite NO", cursive;
}

.italianno-regular {
  font-family: "Italianno", cursive;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
}

.comfortaa- {
  font-family: "Comfortaa", sans-serif;
}

.mountains-of-christmas-regular {
  font-family: "Mountains of Christmas", serif;
}